.wp-blocks-buttons {
	display: flex;
	flex-wrap: wrap;
}

// Increased specificity to override blocks default margin.
.wp-block-buttons .wp-block-button {
	display: inline-block;
	margin-right: $grid-unit-10;
	margin-bottom: $grid-unit-10;

	&:last-child {
		margin-right: 0;
	}
}

.wp-block-buttons.is-content-justification-left {
	justify-content: flex-start;
}

.wp-block-buttons.is-content-justification-center {
	justify-content: center;
}

.wp-block-buttons.is-content-justification-right {
	justify-content: flex-end;
}

.wp-block-buttons.is-content-justification-right .wp-block-button {
	margin-left: $grid-unit-10;
	margin-right: 0;

	&:first-child {
		margin-left: 0;
	}
}

// Kept for backward compatibiity.
.wp-block-buttons.alignright .wp-block-button {
	margin-right: 0;
	margin-left: $grid-unit-10;

	&:first-child {
		margin-left: 0;
	}
}
.wp-block-buttons.aligncenter {
	text-align: center;
}
