.wp-block-html {
	&.is-html-editor {
		border-radius: $radius-block-ui;
		box-shadow: inset 0 0 0 $border-width $gray-900;
		/* Padding to prevent the rich text editor scroll bar from overlapping the
		border. This also makes it easier to overlap the block wrapper's
		box-shadow with the rich text editor's focus box-shadow. */
		padding: 1px;
	}

	.block-editor-rich-text__editable {
		font-family: $editor-html-font;
		background-color: $white;
		color: $gray-900;
		padding: 0.8em 1em;
		border-radius: $radius-block-ui;
		max-height: 250px;
		overflow-y: auto;

		// Fonts smaller than 16px causes mobile safari to zoom.
		font-size: $mobile-text-min-font-size;
		@include break-small {
			font-size: $default-font-size;
		}

		&:focus {
			box-shadow: 0 0 0 $border-width-focus var( --wp-admin-theme-color );

			// Show a light color for dark themes.
			.is-dark-theme & {
				box-shadow: 0 0 0 $border-width-focus $dark-theme-focus;
			}
		}
	}

	.block-library-html__preview-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
