/**
 * Block Toolbar
 */

.block-editor-block-toolbar {
	display: flex;
	flex-grow: 1;
	width: 100%;
	overflow: auto; // Allow horizontal scrolling on mobile.
	position: relative;

	// Animation
	transition: border-color 0.1s linear, box-shadow 0.1s linear;
	@include reduce-motion("transition");

	// Allow overflow on desktop.
	@include break-small() {
		overflow: inherit;
	}

	// Borders around toolbar segments.
	.components-toolbar-group,
	.components-toolbar {
		background: none;
		// IE11 has thick paddings without this.
		line-height: 0;

		// These margins make the buttons themselves overlap the chrome of the toolbar.
		// This helps make them square, and maximize the hit area.
		margin-top: -$border-width;
		margin-bottom: -$border-width;

		// The component is born with a border, but we only need some of them.
		border: 0;

		// Add a border after item groups to show as separator in the block toolbar.
		border-right: $border-width solid $gray-200;
	}

	> :last-child,
	> :last-child .components-toolbar-group,
	> :last-child .components-toolbar {
		border-right: none;
	}
}

.block-editor-block-toolbar,
.block-editor-format-toolbar {
	// Override Toolbar buttons size.
	.components-toolbar-group,
	.components-toolbar {
		display: flex;
		flex-wrap: nowrap;
	}
}

.block-editor-block-toolbar__slot {
	// Required for IE11.
	display: inline-block;
	// Fix for toolbar button misalignment on IE11
	line-height: 0;

	// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
	@supports (position: sticky) {
		display: inline-flex;
	}
}

.block-editor-block-toolbar__block-parent-selector-wrapper {
	position: absolute;
	left: -($grid-unit-60 + $grid-unit-15);
	width: $grid-unit-60;
	height: $grid-unit-60;
	border-radius: $radius-block-ui;

	// Extra specificity to override toolbar or toolbar group styles.
	&.block-editor-block-toolbar__block-parent-selector-wrapper {
		background-color: $white;
		border: $border-width solid $gray-900;
	}

	// Hide the parent selector button in Top Toolbar mode.
	.edit-post-header-toolbar__block-toolbar & {
		display: none;
	}

	.block-editor-block-parent-selector {
		margin-top: -1px;
		margin-left: -1px;
	}
}

.block-editor-block-toolbar-animated-width-container {
	position: relative;
	overflow: hidden;
	transition: width 300ms;
}

.block-editor-block-toolbar-content-enter {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	opacity: 0;
}
.block-editor-block-toolbar-content-enter-active {
	position: absolute;
	opacity: 1;
	transition: opacity 300ms;
}
.block-editor-block-toolbar-content-exit {
	width: auto;
	opacity: 1;
	pointer-events: none;
}
.block-editor-block-toolbar-content-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
